
.swiper {
  width: 100%;
  height: 100%;
}
.hero-slider {
  overflow: hidden;
  border-radius: 40px;
}
.hero-slider__child {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-slider__child img {
  display: block;
  width: 100%;
  object-fit: contain;
  object-position: center;
  flex-shrink: 0;
}
.hero-pagination {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}
.hero-pagination .swiper-pagination-bullet {
  background: rgba(0, 0, 0, 0.6);
}
.hero-pagination .swiper-pagination-bullet-active {
  background: #000000;
}


/* mini slider  */
.mini-slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 12px;
}
.mini-slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.mini-slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
