@import "tailwindcss";

@font-face {
  font-family: "Dana";
  src: url("/d-Pay/public/fonts/Dana/woff2/DanaFaNum-Regular.woff2")
    format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Dana Medium";
  src: url("/d-Pay/public/fonts/Dana/woff2/DanaFaNum-Medium.woff2")
    format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Dana DemiBold";
  src: url("/d-Pay/public/fonts/Dana/woff2/DanaFaNum-DemiBold.woff2")
    format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Moraba";
  src: url("/d-Pay/public/fonts/Morabba/woff2/Morabba-Medium.woff2")
    format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Moraba Light";
  src: url("/d-Pay/public/fonts/Morabba/woff2/Morabba-Light.woff2")
    format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Moraba Bold";
  src: url("/d-Pay/public/fonts/Morabba/woff2/Morabba-Bold.woff2")
    format("woff2");
  font-display: swap;
}

@custom-variant child (& > *);

@theme {
  --color-back: #f2f3f6;
  --color-purple: #3f3cbb;
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;

  --shadow-normal: 0 1px 10px rgba(0, 0, 0, 0.05);

  --font-dana: "Dana", sans-serif;
  --font-dana-medium: "Dana Medium", sans-serif;
  --font-dana-demibold: "Dana DemiBold", sans-serif;
  --font-moraba: "Moraba", sans-serif;
  --font-moraba-light: "Moraba Light", sans-serif;
  --font-moraba-bold: "Moraba Bold", sans-serif;

  --breakpoint-xs: 375px;     
  --breakpoint-sm: 640px;      
  --breakpoint-md: 768px;      
  --breakpoint-lg: 992px;      
  --breakpoint-xl: 1024px;    
  --breakpoint-2xl: 1280px;    
   

}

@utility container {
  width: 100%;
  max-width: 1240px;
  margin-inline: auto;
  padding-inline: 1rem;
}

@variant xs {
  .container {
    max-width: 375px;
  }
}

@variant sm {
  .container {
    max-width: 640px;
  }
}

@variant md {
  .container {
    max-width: 768px;
  }
}

@variant lg {
  .container {
    max-width: 992px;
  }
}

@variant xl {
  .container {
    max-width: 1024px;
  }
}

@variant 2xl {
  .container {
    max-width: 1180px;
    padding-inline: 0.625rem;
  }
}




@utility menu-nav {
  display: flex;
  align-items: center;
  gap: 36px;
}

.menu-nav > li > a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
.menu-nav > li > a::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 3px;
  background-color: #1d4ed8;
  border-radius: 5px;
  top: 45px;
  margin: 0 auto;
  transition: all 0.4s ease;
  transition-delay: 0.5s;
  display: none;
}

/* .menu-nav > li:hover {
  font-weight: 600;
  color: #1d4ed8;
} */

.menu-nav li > a:hover::after {
  display: block;
}

@layer components {
  .dropdown-menu {
    position: absolute;
    top: 60px;
    z-index: 10;
    padding: 8px 20px 8px 40px;
    display: none;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(12px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 16px;
  }

  .dropdown-menu > * {
    display: flex;
    align-items: center;
    gap: 4px;
    width: 100%;
    height: 48px;
    padding: 12px;
    white-space: nowrap;
    color: #374151;
    border-radius: 12px;
    transition: all 0.2s ease;
  }

  .dropdown-menu > *:hover {
    background-color: #bfdbfe;
    color: #1d4ed8;
  }
}

.group:hover .dropdown-menu {
  display: flex !important;
}
